.breadcrumb-wrapper {
    width: 720px;
    max-width: 720px;
    overflow-x: scroll;
    padding-bottom: 8px;
}

.breadcrumb-wrapper::-webkit-scrollbar {
    -webkit-appearance: none;
}

.breadcrumb-wrapper::-webkit-scrollbar:horizontal {
    height: 7px;
}

.breadcrumb-wrapper::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border:#E7FAFF;
    background-color: #8BB6C2
}

.breadcrumb-container {
    display: flex;
    flex: 1;
    align-items: center;
    white-space: nowrap;
}

.breadcrumb-item {
    text-align: center;
    padding: 10px 25px;
    z-index: 2;
    margin: 0;
    border-radius: 1px;
    clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%, 0% 0%);
}

.breadcrumb-item:nth-child(1){
    z-index: 50;
}

.breadcrumb-item:nth-child(2){
    position: relative;
    z-index: 20;
    left: -15px;
}


.breadcrumb-item-small {
    flex: 0 0 140px;
    text-align: center;
    padding: 8px 8px;
    z-index: 1;
    margin-left: 0;
    border-radius: 1px;
}

.breadcrumb-item-small-transformer {
    flex: 0 0 140px;
    text-align: center;
    padding: 11px 8px;
    z-index: 1;
    margin-left: 0;
    border-radius: 1px;
}

/* .breadcrumb-triangle {
    width: 0;
    height: 0;
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
    border-left: 22px solid;
    z-index: 2;
} */
