.breadcrumb-wrapper {
    width: 750px;
    max-width: 750px;
    overflow-x: scroll;
    padding-bottom: 8px;
}

.breadcrumb-wrapper::-webkit-scrollbar {
    -webkit-appearance: none;
}

.breadcrumb-wrapper::-webkit-scrollbar:horizontal {
    height: 7px;
}

.breadcrumb-wrapper::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border:#E7FAFF;
    background-color: #8BB6C2
}

.breadcrumb-container {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.breadcrumb-item {
    flex: 0 0 170px;
    text-align: center;
    padding: 10px 8px;
    z-index: 1;
    margin: 0;
    border-radius: 1px;
}

.breadcrumb-item-small {
    flex: 0 0 140px;
    text-align: center;
    padding: 8px 8px;
    z-index: 1;
    margin-left: 0;
    border-radius: 1px;
}

.breadcrumb-triangle {
    width: 0;
    height: 0;
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
    border-left: 22px solid;
    z-index: 2;
}
