

@font-face {
    font-family: 'DIN PRO';
    src: url('../public/fonts/dinPro/Normal.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'DIN PRO';
    src: url('../public/fonts/dinPro/Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'DIN PRO';
    src: url('../public/fonts/dinPro/Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
  }
  